@import url(normalize.css);
@font-face {
    font-family: 'Myriad Pro';
    src: url(fonts/MyriadPro-Regular.woff) format('woff'), url(fonts/MyriadPro-Regular.ttf) format('truetype');
}

* {
    font-family: "Myriad Pro";
}

.navigation {
    display: flex;
}

.navigation__language {
    display: flex;
    font-size: 14px;
    list-style-type: none;
    padding-left: 0;
}

.navigation__language li {
    padding-right: 10px;
    margin-top: 15px;
}

.navigation {
    margin-left: 200px;
    margin-right: 155px;
    margin-top: 85px;
}

.navigation__logo {
    padding: 10px 0;
    font-size: 30px;
    font-weight:bold;
    line-height: 0.5px;
}

.navigation__block {
    display: flex;
    flex-direction: column
}

.navigation__menu {
    display: flex;
    margin: 0;
    margin-left: auto;
    list-style-type: none;
    font-size: 16px;
}

.navigation__menu li {
    padding-right: 15px;
}

.authorization {
    display: flex;
    margin-left: 50px;
    min-width: 225px;
    font-size: 16px;
    font-weight:bold;
}



.link__dribbble {
    padding-right: 5px;
}


/* header */

.about {
    display: flex;
    justify-content: center;
    background-image: url(assets/images/background.jpg);
    background-position: 0px -170px;
    height: 700px;
}

.about__title {
    font-size: 60px;
    font-weight:bold;
    margin-top: 145px;
    margin-left: -11px;
}

.about__info {
    padding-top: 4px;
    text-align: center;
    font-size: 40px;
    margin-left: 20px;
}

.about__oval-button {
    border-radius: 40px;
    height: 40px;
    min-width: 244px;
    font-size: 18px;
    text-align: center;
    background: linear-gradient(to right, #636b92, #6d4a70);
    padding-top: 16px;
    color: #fff;
}



.link {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 30px;
    top: 321px;
    font-size: 22px;
}

.link a {
    margin-bottom: 13px;
}
 
/* article  */

.information {
    display: flex;
    padding: 40px 42px 0 170px;
    justify-content: center;
    margin-bottom: 115px;
    /* height: 300px; */
}

.information__item {
    width: 430px;
    /* max-width: 340px; */
}

.item1,
.item2,
.item3 {
    display: flex;
    flex-direction: column;
}

.item1__block,
.item2__block,
.item3__block {
    display: flex;   
}

.item1__block {
    margin-left: -10px;
}

.item2__block {
    margin-left: 10px;
}

.item3__block {
    margin-left: 10px;
    margin-top: 5px;
}

.item1__text,
.item2__text,
.item3__text {
    line-height: 1.571;
}

.item1__text {
    padding: 15px 70px 0 0;
}

.item2__text {
    padding: 15px 65px 0 15px;
}

.item3__text {
    padding-top: 10px;
    padding-left: 20px;
}

.item2-logo__logo {
    margin-left: -8px;
}

.item1-logo__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 7px;
}

.item2-logo__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item1-logo__title :nth-child(1),
.item2-logo__title :nth-child(1),
.item3-logo__title :nth-child(1) {
    font-size: 30px;
}

.item1-logo__title :nth-child(2),
.item2-logo__title :nth-child(2),
.item3-logo__title :nth-child(2) {
    font-size: 18px;
}

/* section */

.links {
    margin-top: 45px;
}
.security__title {
    margin-left: -35px;
    margin-top: -5px;
    font-size: 60px;
}

.security__info {
    font-size: 24px;
    text-align: right;
    max-width: 600px;
    margin-right: 250px;
    margin-top: 7px;
    line-height:25px;
}

.security {
    display: flex;
    /* height: 240px; */
    align-items: center;
    flex-direction: column;
}

.button {
    border-radius: 10px; 
    width: 100px;
    height: 40px;
}

/* div device */

.service-description {
    line-height: 1.292;
    background-image: url(assets/images/grey_bg.jpg);
    background-position: 0px 255px;
    background-size: 100%;
    position: relative;
}

.service-description__quote {
    display: flex;
    flex-direction: column;
    padding: 0px 0 0 30px;
    width: 524px;
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
}

.service-description__quote > *{
    font-size: 16px;
}

.service-description__devices {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
    margin-bottom: 230px;
    /* height: 372px; */
}

.service-description__title {
    padding-left: 80px;
    padding-bottom: 15px;
    z-index: 2;
}
.service-description__text {
    max-width: 425px;
    text-align: right;
    line-height: 1.375;
    padding: 0;
    z-index: 2;
}

.service-description__devices > div:first-child {
    font-size: 36px;
}

.service-description__devices :last-child {
    font-size: 16px;
}

/* donation */
.donation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 85px;
    /* height: 258px; */
}


.donation > div:nth-child(1) {
    font-size: 36px;
}

.donation > div:nth-child(2) {
    font-size: 29px;
}

/* footer */

.footer__menu {
    margin-bottom: 45px;
    display: flex;
    margin: 0 220px;
    line-height: 1.5;
}

.partners {
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
    align-items: flex-end;
}

.partners__logo {
    margin-right: 350px;
    margin-left: 100px;
}

.partners__info {
    margin-right: 400px;
    margin-top: 20px;
}

.emails {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    min-width: 230px;
}


.footer__company-info {
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: right;
    min-width: 300px;
    direction:rtl;
    font-size: 18px;
}

.footer__legal-info {
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: right;
    min-width: 255px;
    direction:rtl;
    font-size: 18px;
}

.footer__neutron-info {
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: right;
    min-width: 200px;
    direction:rtl;
    font-size: 18px;
}

.footer__menu__information {
    margin-left: 170px;
}

.footer__legal-info ul,
.footer__company-info ul,
.footer__neutron-info ul {
    padding-inline-start: 15px;
    font-size: 14px;
}

.footer__menu-item li,
.emails {
    padding:  0  0 5px 0;
}

.about__buttoms {
    display: flex;
    padding: 70px 0 0 175px;
    font-size: 25px;
    background-image: url(assets/images/fake-lake.png);
    background-repeat: no-repeat;
    background-position: 0px 85px;
}

.about__button {
    width: 48px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #6d4a70;
    margin-left: 23px;
    padding: 7px 0 0 0;
    margin-top: 4px;
}

.fa-apple,
.fa-google-play {
    height: 20px;
    width: 20px;
    color: #ffffff;
}

.donation__oval-buttons {
    display: flex;
    min-width: 490px;
    padding-top: 35px;
    padding-left: 25px;
}



.donation__oval-button1{
    margin-right: 51px;
    border-radius: 40px;
    padding: 15px 0 0 0px;
    height: 40px;
    min-width: 250px;
    font-size: 18px;
    text-align: center;
    background: linear-gradient(to right, #636b92, #6d4a70);
    color: #fff;
    box-shadow: 0 0 20px  #636b92 ;
}

.donation__oval-button2 {
    border-radius: 40px;
    padding: 15px 0 0 0px;
    height: 40px;
    min-width: 165px;
    font-size: 18px;
    text-align: center;
    background: linear-gradient(to right, #36bae1, #5e7bea);
    color: #fff;
    box-shadow: 0 0 20px  #36bae1 ;
}

.fa-cloud-upload-alt,
.fa-dollar-sign {
    margin-right: 5px;
    font-size: 16px;
}

.authorization__log-in-oval-button {
    margin-left: 25px;
    padding-top: 7px;
    border-radius: 40px;
    height: 35px;
    width: 90px;
    font-size: 18px;
    text-align: center;
    background: linear-gradient(to right, #636b92, #6d4a70);
    text-align: center;
    margin-top: -8px;
    color: #fff;
}

.authorization__log-in {
    padding-right: 25px;
}

.security__oval-button {
    margin-top: 23px;
    /* padding-left: 100px; */
    width: 335px;
    height: 45px;
    border-radius: 40px;
    font-size: 16px;
    background: #fff;
    border: 0.5px solid #b9b9b9;
    text-align: center;
    margin-left: 480px;
    color: rgb(0, 0, 0);
    /* text-align: center; */
    padding: 18px 0 0 0;
}

.service-description__buttons {
    z-index: 2;
}

ul.navigation__language {
    /* padding: 10px 16px; */
    list-style: none;
    /* background-color: #eee; */
  }
  
  /* Display list items side by side */
  ul.navigation__language li {
    display: inline;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.navigation__language li+li:before {
    padding: 5px;
    color: black;
    content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.navigation__language li a {
    color: #0275d8;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.navigation__language li a:hover {
    color: #01447e;
    text-decoration: underline;
  }

  .menu__logo {
      /* height: 70px; */
  }

  .service-description__partners img {
    margin-top: 34px;
    margin-left: 0px;
  }

  .service-description__partners {
    margin-left: 20px;
  }

  .service-descripton__laptor-image {
    position: absolute;
    right: 270px;
    top: 143px;
    z-index: 1;
  }

  .service__slider {
    /* position: relative; */
  }

  .service-description__reviews {
    padding: 55px 0 0 361px;
    display: flex;
    z-index: 1;
  }
  .service__slider div {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: #ddd2c5;
    margin: 10px 0;
    display: block;
}

.service-description__app-store {
    padding-top: 16px;
    margin-right: 5px;
    border-radius: 10px;
    border: 0;
    height: 60px;
    min-width: 184px;
    font-size: 18px;
    text-align: center;
    background: #000000;
    color: #fff;
    background-image: url(assets/images/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg);
    background-position: -12px 267px;
    background-size: 111%;
}

.service-description__google-play {
    border: 0;
    border-radius: 10px;
    height: 60px;
    min-width: 185px;
    font-size: 18px;
    text-align: center;
    background: #000000;
    padding-top: 16px;
    color: #fff;
    margin-right: 10px;
    background-image: url(assets/images/googl.png);
    background-position: -25px 259px;
    background-size: 128%;
}

.service-description__buttons {
    margin-top: 25px;
    padding-left: 45px;
}

.footer__menu__information {
    display: flex;
}

.footer__menu__information ul {
    margin-top: 25px;
    line-height: 23px;
}

.links {
    display: flex;
    font-size: 14px;
    list-style-type: none;
    padding-left: 0;
    padding: 0 190px;
}

.links li {
    padding-right: 10px;
    margin-top: 15px;
}

ul.links {
    /* padding: 10px 16px; */
    list-style: none;
    /* background-color: #eee; */
  }
  
  /* Display list items side by side */
  ul.links li {
    display: inline;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.links li+li:before {
    padding: 5px;
    color: black;
    content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.links li a {
    color: #0275d8;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.links li a:hover {
    color: #01447e;
    text-decoration: underline;
  }

  .footer__copyright {
    padding: 0 190px;
  }

  
  @media only screen and (max-width: 1594px) {
    /* .navigation__menu {
      flex-direction: column;
      align-content: center;
    } */
  }

  EDIT ON
 .navigation__menu {
    text-align: right;
}

.menu__icon {
   display: none;
   width: 45px;
   height: 35px;
   position: relative;
   cursor: pointer;
}

.menu__icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #333333;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.menu__icon span:nth-child(1) {
  top: 0px;
}

.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
  top: 13px;
}

.menu__icon span:nth-child(4) {
  top: 26px;
 }

.menu__links-item {
    display: inline-block;
    padding: 0 10px;
}

.menu__links-item:hover {
    text-decoration: underline;
}

.navigation__menu.menu_state_open .menu__icon span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.navigation__menu.menu_state_open .menu__icon span:nth-child(2) {
  transform: rotate(45deg);
}

.navigation__menu.menu_state_open  .menu__icon span:nth-child(3) {
  transform: rotate(-45deg);
}

.navigation__menu.menu_state_open  .menu__icon span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.navigation__menu.menu_state_open .menu__links {
  display: block;  
}

@media screen and (max-width: 1400px) {
  .menu__icon{
    display: inline-block;
  }
  
  .menu__links {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 52px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    overflow: auto;
  }
  
  .menu__links-item {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #ffffff;
  }

  .footer__menu {
      margin: 0 auto;
      margin-left: 60px;
  }
}

.main__vertical-line-information {
    position: absolute;
    /* position: relative; */
}

@media screen and (max-width: 1799px) {
    .partners__logo {
        margin: 0 auto;
    }

    .footer__menu__information {
        margin: 0;
    }

    .emails {
        min-width: 260px;
    }
}

@media screen and (max-width: 1400px) {
    .footer__menu {
        flex-direction: column-reverse;
    }

    .footer__menu-emails {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 40px;
    }

    .partners__logo {
        flex-wrap: nowrap;
    }

    .footer__copyright,
    .links {
        padding: 0 60px;
    }

    .information {
       flex-wrap: wrap;
       padding: 0;
    }
    .information__item {
        margin: 20px 0;
    } 

    .service-descripton__laptor-image {
        right: 5px;
    }
}
