@import url(normalize.css);
@font-face {
    font-family: 'Myriad Pro';
    src: url(fonts/MyriadPro-Regular.woff) format('woff'), url(fonts/MyriadPro-Regular.ttf) format('truetype');
}

* {
    font-family: "Myriad Pro";
}

.navigation {
    display: flex;
}

.navigation__language {
    display: flex;
    font-size: 14px;
    list-style-type: none;
    padding-left: 0;
}

.navigation__language li {
    padding-right: 30px;
    margin-top: 15px;
}

.navigation {
    margin-left: 200px;
    margin-right: 155px;
    margin-top: 85px;
}

.navigation__logo {
    padding: 10px 0;
    font-size: 30px;
    font-weight:bold;
    line-height: 0.5px;
}

.navigation__block {
    display: flex;
    flex-direction: column
}

.navigation__menu {
    display: flex;
    margin: 0;
    margin-left: auto;
    list-style-type: none;
    font-size: 16px;
}

.navigation__menu li {
    padding-right: 28px;
}

.authorization {
    display: flex;
    margin-left: 50px;
    min-width: 225px;
    font-size: 16px;
    font-weight:bold;
}

.authorization div {
    padding-right: 25px;
}

.link__dribbble {
    padding-right: 5px;
}


/* header */

.about {
    display: flex;
    justify-content: center;
    border: 1px solid red;
    height: 700px;
    background-image: url(assets/images/background.jpg);
    background-position: 0px -170px;
}

.about__title {
    font-size: 60px;
    font-weight:bold;
    margin-top: 145px;
    margin-left: 5px;
}

.about__info {
    padding-top: 4px;
    text-align: center;
    font-size: 40px;
    margin-left: 20px;
}

.about__oval-button {
    border-radius: 40px;
    height: 55px;
    min-width: 250px;
    font-size: 18px;
    text-align: center;
    background: linear-gradient(to right, #636b92, #6d4a70);
}



.link {
    width: 20px;
}
 
/* article  */

.information {
    display: flex;
    padding: 40px 0 0 165px;
    justify-content: center;
    height: 300px;
}

.information__item {
    width: 450px;
    /* max-width: 340px; */
}

.item1,
.item2,
.item3 {
    display: flex;
    flex-direction: column;
}

.item1__block,
.item2__block,
.item3__block {
    display: flex;
}


.item__text {
    padding: 0px 70px 0 0;
    line-height: 1.571;
}

.item-logo__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.item-logo__title :nth-child(1) {
    font-size: 30px;
}

.item-logo__title :nth-child(2) {
    font-size: 18px;
}

/* section */

.security__title {
    font-size: 60px;
}

.security__info {
    width: 600px;
    font-size: 24px;
    text-align: right;
}

.security {
    display: flex;
    height: 240px;
    align-items: center;
    flex-direction: column;
    border: 1px solid salmon;	
}

.button {
    border-radius: 10px; 
    width: 100px;
    height: 40px;
    border: 1px solid salmon;	
}

/* div device */

.service-description {
    height: 1090px;
    line-height: 1.292;
    border: 1px solid red;
}

.service-description__quote {
    display: flex;
    flex-direction: column;
    padding: 55px 0 0 400px;
    width: 524px;
    font-size: 24px;
}

.service-description__quote > *{
    font-size: 16px;
}

.service-description__devices {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
    height: 200px;
}

.service-description__title {
    padding-left: 80px;
    padding-bottom: 15px;
}
.service-description__text {
    max-width: 425px;
    text-align: right;
    line-height: 1.375;
    padding: 0;
}

.service-description__devices > div:first-child {
    font-size: 36px;
}

.service-description__devices :last-child {
    font-size: 16px;
}

/* donation */
.donation {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.donation :nth-child(1) {
    font-size: 36px;
}

.donation :nth-child(2) {
    font-size: 29px;
}

/* footer */

.footer__menu {
    display: flex;
    margin: 0 220px;
}

.partners {
    height: 300px;
}

.emails {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.links {
    display: flex;
}

.footer__menu-item {
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: right;
    min-width: 300px;
    direction:rtl;
    font-size: 18px;
}

.footer__menu-item ul {
    padding-inline-start: 15px;
    font-size: 14px;
}

.footer__menu-item li,
.emails {
    padding:  0  0 5px 0;
}

.about__buttoms {
    display: flex;
    padding: 70px 0 0 195px;
}

.about__button {
    /* display: inline-block;
    margin: 40px; */
    width: 46px;
    height: 46px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #6d4a70;
    margin-left: 20px;
/* 
    box-shadow: 0 3px 20px rgba(0,0,0,.25),
    inset 0 2px 0 rgba(255,255,255,.6),
    0 2px 0 rgba(0,0,0,.1),
    inset 0 0 20px rgba(0,0,0,.1); */
}

.fa-apple,
.fa-google-play {
    height: 20px;
    width: 20px;
    color: #ffffff;
}

.donation__oval-buttons {
    display: flex;
}



.donation__oval-button1{
    border-radius: 40px;
    height: 60px;
    min-width: 250px;
    font-size: 18px;
    text-align: center;
    background: linear-gradient(to right, #636b92, #6d4a70);
}

.donation__oval-button2 {
    border-radius: 40px;
    height: 60px;
    min-width: 250px;
    font-size: 18px;
    text-align: center;
    background: linear-gradient(to right, #36bae1, #5e7bea);
}

.authorization__log-in-oval-button {
    border-radius: 40px;
    height: 45px;
    width: 65px;
    /* min-width: 43px; */
    font-size: 18px;
    text-align: center;
    background: linear-gradient(to right, #636b92, #6d4a70);
    text-align: center;
    margin-top: -8px;
    color: #fff;
}

.security__oval-button {
    margin-top: 20px;
    padding-left: 100px;
    width: 235px;
    height: 65px;
    border-radius: 40px;
    font-size: 16px;
    background: linear-gradient(to right, #636b92, #6d4a70);
    text-align: center;
    margin-left: 480px;
}

.service-description__buttons {
    height: 250px;
    border: 1px solid red;
}