body {
  background-color: #e9e9e9;
}


.info-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title {
  position: relative;
  bottom: 170px;
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  height: 10px;
}

.image {
  height: 230px;
  border-radius: 10px;
  filter: alpha(Opacity=50);
    opacity: 0.5; 
}

.card {
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: #ffffff;
  width: 300px;
  height: 500px;
  margin: 0 50px;
  border-radius: 10px;
}

.card-container {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: all 0.2s;
  transform: scale(0.98);
  will-change: transform;
  user-select: none;
  cursor: pointer;
  margin: 20px;
}

.card-container.active {
  background: rgba(255,255,255,0.3);
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}

.fa-calendar-alt {
  font-size: 20px;
}

.input {
  display: flex;
  margin: 0 auto;
  width: 495px;
  height: 25px;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
}

button {
  background-color: #4CAF50;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.button-container {
  display: flex;
  justify-content: space-around;
  justify-content: center;
}
